{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
    <style>
        body {
            background-color: #4E4E4E; /* Change this to any color you want */
            margin: 0; /* Removes default margin */
            height: 100vh; /* Ensures full page coverage */
        }
        </style>

</head>
<body>

    <main>
        <p> Welcome to... PCS? </p>
    </main>

    <footer>
    </footer>

</body>
</html>
{% endblock %}